#mysection{
     border: 1px solid black;
    width: 700px;
    height: 700px;
    background-color: rgb(208, 255, 196);
}
#maindiv{
   
    display: grid;
    grid-template-columns: 200px 300px 100px;
    justify-content: center;
    align-items:center ;
    width: fit-content;
     border: 1px solid black;




}
.section{
border: 2px solid hwb(0 0% 100%);
width: 40px;
height: 40px;
background-color: rgb(0, 4, 255);
display: flex;

}