.red{
    color: red;

}
.green{
    color: green;
}
.blue{
    color: blue;
}
.bgpink{
    background-color: pink;
}
.bgviolet{
    background-color: violet;
}
.bg green{
    background-color: greenyellow;
}