* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  background: #165bc3;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  
  
  
}
nav ul {
  list-style: none;
  display: flex;
  margin-right: 40px;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
nav ul li a:hover {
  color: yellow;
}



section {
  padding: 80px 20px;
  text-align: center;
  
}
.section-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.course-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.course-card {
  background: white;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 0 10px gray;
}

.course-card:hover {
  background: #f0f0ff;
  transform: scale(1.05);
  box-shadow: 0 0 20px #0d6efd;
}

form {
  max-width: 400px;
  margin: auto;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}